# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
.venv/

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# dotenv
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/
